#chat {
    overflow: auto;
    
    flex: 1 1 50em;
    display: flex;
    flex-direction: column-reverse;
    gap: 3em;

    height: 100%;
}

#display {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.5em;
}

#display .left {
    align-self: flex-start;
}

#display .right {
    align-self: flex-end;
}

#display .message {
    padding: 0.5em;

    border: 0.1em solid var(--user-color, var(--neutral2));
}

#display .join, #display, .leave {
    color: var(--user-color);
}

#actions {
    display: flex;
}

#actions input {
    flex: 1;
    padding: 0.5em max(0.5em, 2%);
}
